{{ define "footer"}}
    <footer>
        <style>
        p {
        position: fixed;
        bottom: 0;
        left: 0;
        color: #777;
        }
        </style>
            <p>
                Copyright 2021 weathertimemachine.xyz
            </p>
    </footer>
{{ end }}
