{{ define "footer"}}
    <footer>
        <style>
        #page-footer {
            position: fixed;
            bottom: 0;
            left: 0;
            color: #777;
        }
        </style>
            <p  id="page-footer">
                Copyright 2021 weathertimemachine.xyz
            </p>
    </footer>
{{ end }}
