{{ define "yield"}}
    <h1 style="color:#777">Welcome to weathertimemachine.xyz</h1>
    <h2 style="color:#777">Have you ever wondered when one said it's too cold or too warm compare to the season</h2>
    <h2 style="color:#777">I've created this page to check temperature in different location for different time.</h2>
    <h3 style="color:#777">Application has two functionality. Get temperature via city name or via coordinates.</h3>
{{ end }}
